@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
}

.header {
  align-self: center;
  font-size: 35px;
  padding: 0 0 20px 0;
}

.btn {
  height: 35px;
  width: 35px;
  border: 1px solid rgba(100, 100, 111, 0.5);
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}

.list-form {
  width: 100%;
  display: flex;
}

.list-form input {
  flex-grow: 1;
  padding: 5px 7px;
  border: 1px solid rgba(100, 100, 111, 0.5);
  border-radius: 7px 0 0 7px;
  font-size: 20px;
}

.list-form input:focus {
  outline: none;
}

.list-form .btn {
  border-radius: 0 7px 7px 0;
  border-left: 0px;
}

.list {
  padding: 15px 0 0 0;
}

.list .list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.list-item .list-item-data {
  font-size: 18px;
}

.list-item-data input {
  width: 250px;
  border: 1px solid rgba(100, 100, 111, 0.5);
  border-radius: 7px;
  padding: 5px;
}
